################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/PAP Pires 2021-2024/.vs/PAP SoftwarePastelaria v.1.0/FileContentIndex/0c2628e7-fa6a-4cdc-bb92-8d7288f76a0f.vsidx
/PAP Pires 2021-2024/.vs/PAP SoftwarePastelaria v.1.0/FileContentIndex/7ea19372-b8a8-4c09-9617-61cdaa6e3346.vsidx
